<header id="header">
  <div class="container">
    <!-- Begin Logo -->
    <a href="/" title="Home" rel="home" id="logo">
      <img src="https://vodafone.netcommwireless.com/image/portals/48a4ae75941b4c1592197bce210ac739.png" alt="Home">
    </a>
    <!-- End Logo -->
    <div id="site-name">
      <h1 class="title"><span>Vodafone</span> Resource Centre </h1>
    </div>
    <a id="ntc-logo" href="https://www.netcomm.com"
      style="background-image:url('https://vodafone.netcommwireless.com/image/footerresize/48a4ae75941b4c1592197bce210ac739.png?Number=20251209051326778');width: 131px;height: 28px;">NetComm
      Wireless</a>
  </div>
  <div class="clearfix"></div>
</header>