<footer id="footer">
  <div class="container">
    <div class="ntc-info">
      <a class="link" href="https://www.netcomm.com"
        style="background-image: url('https://vodafone.netcommwireless.com/image/footer/48a4ae75941b4c1592197bce210ac739.png?Number=20251209033706899');width: 169px;height: 36px;">NetComm
        Wireless</a>
    </div>
    <div class="clearfix"></div>
    <div class="copyright">
      Copyright © 2025 NetComm Wireless Pty Ltd All rights reserved. | <a href="https://www.netcomm.com/legal">Privacy
        Policy</a>
    </div>
  </div>
</footer>